# To do

 - [ ] Define Long Term Care (Data struc that includes all mapped setting types in long term care)
 - [ ] Find all resident deaths in long term care
 - [ ] Have THE TEAM define mapping of setting types to LTC, Nusing, etc.

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("https://covid19.colorado.gov/sites/covid19/files/2020-05/colorado_covid-19_outbreaks.xlsx",sheet_name=1)

In [3]:
df['Setting type'].unique()

array(['Healthcare, assisted living residence',
       'Healthcare, skilled nursing facility', 'Prison/jail', 'Other',
       'Healthcare other', 'Farm/dairy', 'Healthcare, combined care',
       'Group home', 'Independent Living Facility', 'Restaurant sit down',
       'Grocery store', 'Restaurant  fast food',
       'Office/indoor workspace', 'Child care center'], dtype=object)

In [12]:
LTC_map = ['Healthcare, assisted living residence']
NH_NSF_map = ['Healthcare, skilled nursing facility']
ALF_map = ['Healthcare other']

In [13]:
ctp_to_co_mapping = {
    'Resident Positives': ['Number of residents positive for COVID-19 (lab confirmed)'], 
    'Resident Deaths': ['Number of COVID-19 deaths (lab confirmed/confirmed)'],
    'Staff Positives': ['Number of staff who are positive for COVID-19 (lab confirmed)'],
    'Staff Deaths LTC': ['Number of COVID-19 staff deaths (lab confirmed/confirmed)'],
    'Resident/Staff Positives': ['Number of staff who are positive for COVID-19 (lab confirmed)', 'Number of residents positive for COVID-19 (lab confirmed)'],
    'Resident/Staff Deaths': ['Number of COVID-19 deaths (lab confirmed/confirmed)', 'Number of COVID-19 staff deaths (lab confirmed/confirmed)'],
    #'Number of Facilities (with outbreaks)':  to do
}

In [18]:
ctp_ltc_items = {}
for key, value in ctp_to_co_mapping.items():
    ctp_ltc_items['LTC ' + key] =  df[df['Setting type'].isin(LTC_map)][value].sum().sum()
    ctp_ltc_items['NH ' + key] =  df[df['Setting type'].isin(NH_NSF_map)][value].sum().sum()
    ctp_ltc_items['ALF ' + key] =  df[df['Setting type'].isin(ALF_map)][value].sum().sum()
   

ctp_ltc_items

{'LTC Resident Positives': 271.0,
 'NH Resident Positives': 1069.0,
 'ALF Resident Positives': 56.0,
 'LTC Resident Deaths': 91.0,
 'NH Resident Deaths': 267.0,
 'ALF Resident Deaths': 24.0,
 'LTC Staff Positives': 148.0,
 'NH Staff Positives': 767.0,
 'ALF Staff Positives': 39.0,
 'LTC Staff Deaths LTC': 0.0,
 'NH Staff Deaths LTC': 1.0,
 'ALF Staff Deaths LTC': 0.0,
 'LTC Resident/Staff Positives': 419.0,
 'NH Resident/Staff Positives': 1836.0,
 'ALF Resident/Staff Positives': 95.0,
 'LTC Resident/Staff Deaths': 91.0,
 'NH Resident/Staff Deaths': 268.0,
 'ALF Resident/Staff Deaths': 24.0}

In [21]:
pd.DataFrame([ctp_ltc_items])

,LTC Resident Positives,NH Resident Positives,ALF Resident Positives,LTC Resident Deaths,NH Resident Deaths,ALF Resident Deaths,LTC Staff Positives,NH Staff Positives,ALF Staff Positives,LTC Staff Deaths LTC,NH Staff Deaths LTC,ALF Staff Deaths LTC,LTC Resident/Staff Positives,NH Resident/Staff Positives,ALF Resident/Staff Positives,LTC Resident/Staff Deaths,NH Resident/Staff Deaths,ALF Resident/Staff Deaths
0,271.0,1069.0,56.0,91.0,267.0,24.0,148.0,767.0,39.0,0.0,1.0,0.0,419.0,1836.0,95.0,91.0,268.0,24.0